.person {
	display: inline-block;
	margin: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 80%;
	padding: 20px;
}

.main-t {
    padding-top: 40px !important;
    font-size: 30px !important;
    font-weight: 900 !important;
}
